.column1{
  width: 48%;
  float: left;

}
.column2{
width: 48%;
float: right;
}
#column{
overflow: hidden;

}


.biografia{}



.imagen{
float:left;
width: 300px;

}
body{
background-color: black;


}
p,h1,h2{
  color:red;
}
