body{
  background-color: black;

}
p h1{
  display: inline-block-block;

}


.container{
width: 80vw;
height: 80vh;
background-color: red;
display: block;
margin: 0 auto;
padding: 50px;




}
.header{
color:white;

}
.publicidad{
background-color: #AFE058;
display: block;
}
.content{

}
ul>li{
display:inline;
margin-right: 40px
}


.menu{
color: white;
background-color:black;
padding-top: 20px;
padding-bottom: 20px;

}
