body{
  background-color: black;
  color: white;
}
.container{
max-width: 900px;
width:100%;
margin: 0 auto;
}
.seccion-header h1 {
  background: black;
  color:white;
  padding-top:20px;
  padding-bottom: 20px;

}
.seccion-menu{
  background-color: white;
  border-radius: 2px;
  color:black;
}
.column-3 {
width: 33%;
display: inline-block;
border: 2px;
}


.tarjeta{
background-color: orange;
overflow: auto;

}
.seccion_body{
white-space: nowrap;
}
ul>li{
display:inline;
margin-right: 40px;
}
.tarjeta__arriba{
  



}
