.contenedor{
  background-color: white;
  height: 1000px;
  width: 1000px;


}
.menu ul li h5{
    display: inline-block;
    background: gray;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
}


.img{
  position: relative;
  background: gray;
  left: 100px;
  top:50px;



}
ul>li{
  display: inline;
  padding-right: 20px;

}
