.container{
  color: black;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 5em;
  position: absolute;
}
.row{
  margin:
  color:red
}
.column-1{
width:
}

#seccion-inicio{
  background-image: url("../imagenes/flash.jpg");
  background-attackment: fidex;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  body{
    margin:0px;

  }
.button{
  margin: 45px;
}
