.container{
  text-align:center;
  width: 600px;
  padding: 50px;
  border-style: 6px solid black;
  color: white;
  margin:0 auto;


}
  .parrallax{
    background-image:url(../imagenes/flash.jpg);
    width: 100% auto;
    height: 100% auto;





  }
  .header{
    background: black;
    padding:0px 15px 0px 15px ;
    font-color:white;

  }
    .header_logo{
    text-align: center;
    color: white;
    background-color: black
    


    }

    .header_parrallax

    .header_menu
  }
  .content
    column: 66% width









    .content_article
    .content_barra
    .content_publicidad
    .content_login
  .footer
    .footer_redessociales
    .footer_ubicacion
    .footer_mapa
    .footer_copyright
